
 /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

body {
	background: #C5EFF7;
}

header {
	background: #C5EFF7;
	padding: 30px;
}

div.container {
	background: white;
	padding: 50px;
}

div.container.full-bleed {
  padding:0;
}

.logo {
	width: 40%;
}

.nav {
	width: 40%;
}

.posts {
	background: white;
}


#recent-posts {
	background: white;
}

.breaker {
	background: white;
	clear: both;
}

.padded_content {
	display: block;
	padding: 40px;
}

a.post {
	display: block;
	color: black;
	width: 50%;
	float: left;
	background: white;
}

a.post:hover {
	color: white;
}

.padded_content:hover {
	background: #22313F;
}

.title {
	font-weight: bold;
}

.date {
	color: gray;
	padding-right: 10px;
}


.end {
	padding: 15px 8px 15px 8px;
	text-align: center;
}

@media only screen and (min-width: 640px) and (max-width: 90em) { 

#nav-menu {
	float: right;
	padding-top: 35px;
}
	}

@media only screen and (max-width: 640px){ 

a.post {
	width: 100%;
	border-top: solid 2px #C5EFF7;
	border-bottom: solid 2px #C5EFF7;
}
.logo {
	width: 100%;
}

.nav {
	width: 100%;
}



	}


/*body {
	font-family: sans-serif;
	background: #ecf0f1;
}

#header {
	color: #96281B;
}

#wrapper {
  width: 50em;
  margin: 2em auto 0;
  padding: 10px;
  background: #bdc3c7;
  -moz-border-radius: 1.5em;
  -webkit-border-radius: 1.5em;
  border-radius: 1.5em;
}

#menu {
	text-decoration: none;
	
}

#menu ul {
	list-style: none;
	text-align: center;
	color: #96281B;
}

#menu ul li {
	display: inline;
	margin: 0 20px;
	font-size: 1.2em;
	color: #96281B;
}

#menu ul li a {
	text-decoration: none;
	color: #96281B;
}

#menu ul li a:hover {
	color: #D91E18;
}

#menu ul li a:visted {
		color: #96281B;
}

#content {
	color: #22313F;
}

a:visited {
  color: #96281B;
  font-weight: normal;
}

a {
  text-decoration: none;
}

a:hover {
	color: #D91E18;*/