
 /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

body {
	background: #34495e;
}


header {
	background: #34495e;
	padding: 30px;
}

.posts {
	background: white;
}

.container {
	background: white;
}

.post {http://rsms.me/2012/05/29/hue-factorial-fib.html
	border: black solid 1px;
}

.padded_content {
	display: block;
	padding: 30px;
	border: red solid 2px;
}
/*
.posts a:hover {
	background: blue;
	color: white;
}*/

a.post {
	display: block;
	color: black;
	width: 50%;
	float: left;
}

a.post:hover {
	background: blue;
	color: white;
}

.padded_content:hover {
	background: blue;
}

#content {
	background: white;
}
@media only screen and (min-width: 64.063em) and (max-width: 90em) { 

#nav-menu {
	float: right;
	padding-top: 35px;
}
	}



/*body {
	font-family: sans-serif;
	background: #ecf0f1;
}

#header {
	color: #96281B;
}

#wrapper {
  width: 50em;
  margin: 2em auto 0;
  padding: 10px;
  background: #bdc3c7;
  -moz-border-radius: 1.5em;
  -webkit-border-radius: 1.5em;
  border-radius: 1.5em;
}

#menu {
	text-decoration: none;
	
}

#menu ul {
	list-style: none;
	text-align: center;
	color: #96281B;
}

#menu ul li {
	display: inline;
	margin: 0 20px;
	font-size: 1.2em;
	color: #96281B;
}

#menu ul li a {
	text-decoration: none;
	color: #96281B;
}

#menu ul li a:hover {
	color: #D91E18;
}

#menu ul li a:visted {
		color: #96281B;
}

#content {
	color: #22313F;
}

a:visited {
  color: #96281B;
  font-weight: normal;
}

a {
  text-decoration: none;
}

a:hover {
	color: #D91E18;*/