

<html>
	<head>
  	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jwrobes- {{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/normalize.css" type="text/css" media="screen" charset="utf-8"/>
    <link rel="stylesheet" href="/assets/css/foundation.css" type="text/css" media="screen" charset="utf-8"/>
    <link rel="stylesheet" href="/assets/css/master.css" type="text/css" media="screen" charset="utf-8"/>
    <script src="/assets/js/blog.js" type="text/javascript" charset="utf-8"></script>
  </head>

  <body>
    <header>
      <div class="row">
      <div class="logo large-3 column">
  		  <h1><a href="/">Jwrobes</a></h1>
      </div>
      <div class="nav large-9 column">
        <ul id= "nav-menu" class = "inline-list">
          <li><a href='/archive.html'>Archive</a></li>
          <li><a href='/about.html'>About</a></li>
          <li><a href='/projects.html'>Projects</a></li>
        </ul>
      </div>
    </div>
    </header>  
    <div class="row">
      <div class="large-12 column container full-bleed">
  			 {{content}}
      </div>   
    </div>    
	  <div id="footer"></div>
    <script type="text/javascript">    
      window.addEventListener("DOMContentLoaded",BlogController(), false)
      window.addEventListener('resize', function() { BlogController()}, false);
    </script>
  </body>
</html>