---

layout: master

---

<html>
	<head>
		    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Scott Chacon - {{ page.title }}</title>
     <link rel="stylesheet" href="/stylesheets/master.css" type="text/css" media="screen" charset="utf-8"/>
    <script src="/javascripts/jquery.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/jquery.github.js" type="text/javascript" charset="utf-8"></script>
  </head>

  <body>
  	<div id="wrapper">
  		<div id="header">
  			<h1>Jwrobes</h1>
  			<h2>Coding one bug at a time</h2>
  		</div>
  	</div>

		<div id="content">
			{{content}}
		</div>
		<div id="footer">
			
		</div>

  </body>

</html>